extends ../_includes/layouts/default.pug

block content
	section(class="p-12 bg-blue-200 rounded-lg shadow-2xl")
		h2.text-2xl Features
		ul.my-4.list-disc.pl-8.text-xl
			li Build sites faster with the power of Eleventy, TailwindCSS and Webpack
			li Webpack to watch, concatenate and compile styles and scripts
			li SCSS support to integrate Tailwind with other vendor stylesheets
			li HMR
			li Purgecss to remove any unused CSS
			li ES6 support with Babel
			li HTML minifier
			li PWA
			li Imagemin for webp
			li Production scripts for cache-busting
			li Pug
		h2.text-3xl Want to give it a spin?
		a(class=" p-4 text-xl inline-block mt-4 text-white bg-black" href='https://github.com/vktrwlt/pugsum') Get Started
